@font-face {
  font-family: 'Creepster';
  src: url('../fonts/Creepster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fade';
  src: url('../fonts/Rubik80sFade-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Serious';
  src: url('../fonts/AreYouSerious-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
